<!doctype html>

<html>
<head>
	{{> experiment}}
	<title>GO!outide</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#4CAF50">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/gooutside.css" rel="stylesheet">
	<link href="/css/slick.css" rel="stylesheet" type="text/css"/>
	<link href="/css/slick-theme.css" rel="stylesheet" type="text/css"/>
	<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,600italic,300' rel='stylesheet' type='text/css'>

</head>

<body>
	<div>

		<div class="navbar">
			<ul class="left">
			  <a href="/homepage">
					<li>
						GO!outside
					</li>
				</a>
				<ul class="right">
					<a href="/">
						<li>
							Logout
						</li>
					</a>
				</ul>
			</ul>
		</div>

		<div class="carousel">
			{{#each pics}}
		  <div class="carousel-item">
				<a href="/places/{{id}}" >
					<img class="carousel-img" src="{{name}}"></img>
				</a>
			</div>
			{{/each}}
		</div>

		<a href="/map">
			<div class="mat-btn">
				Map
			</div>
		</a>

		<a href="/places">
			<div class="mat-btn">
				List
			</div>
		</a>

		<a href="/upload">
			<div class="mat-btn">
				Upload New Spot
			</div>
		</a>

	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="/js/slick.min.js"></script>
	<script src="/js/homepage.js"></script>
	{{> ga}}
</body>
</html>
