<!doctype html>

<html>
<head>
	<title>GO!outide</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="theme-color" content="#4CAF50">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/gooutside.css" rel="stylesheet">
	<link href="/css/splash.css" rel="stylesheet">
	<link href="/css/login.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,600italic,300' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="splash">

		<div class="form">

			<div id="login">
        <h1>GO!outside</h1>

				<form id="login" action="/homepage" method="get">

					<a href="/homepage">
	          <button class="button button-block"/>GO!</button>
					</a>

      	</form>
    	</div>
		</div> <!-- /form -->



	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="/js/login.js"></script>

</body>
</html>
