<!doctype html>

<html>
<head>
	<title>GO!outide</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/gooutside.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<div>

		<div class="navbar">
			<ul>
			  <a href="/homepage">
					<li>
						<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAACZElEQVR4Xt2b4VHDMAxGpQlgExgBJqBMAN2ATWAD2g3YAEaAEdgAJhCnO+eu1yOJbdnWp+Rvk7bvRZYcW2EKeIjINRE9E9E9M/9YENhysce1Cf6diC6J6JOIbi0SQgk4g5/8mySEETADb5YQQoCI7IjoNYX93MjTfPBWOizhBYjIY4JfYtsz86EUXs+HFtAbHlpABvwvEe2Y+aPmzk/XQEZAJvwNM2sFMB1wAkbCww2B0fBQAjzgYQR4wUMIEBGd4Gitnzs02zdJeP/9gGsS9IZ3jYAM+O9U582lbqlOukRABvxXCnvTs37OBGG4ACT44UMADX6oAET4YQJQ4bsLEBFdt9M6rwsac8ewhDd0HpDgdfFSV3Ah4btFQBT4LgIy4Y9E9GRZzs6p8TnnNJ0H5MIz89LcP+d/NzunmYCI8M2GQFT4JgIiw5sFRIc3CVjZqpqS1BEp4TWbCG0FvjoCkgDdkLhYqEcHZt43q1edvqi6DG5FQrUAvSEpCWokXEWNBJOALUgwC4guoYmAyBKaCYgqoamAAgnayqJdHd2XvdeqZ3MBBRJM3V1rYLmfdxEQSUI3AScStHnpbuGOuEZCVwETtIiohAdECUMEpGiAlDBMAKqEoQIQJQwXgCbBRUCmBJ0kaSv89hokCqpDdwluEYAiwV1AGg5rHeHdIgFCgKcEGAFeEqAEeEiAEzBaAqSAAgm6qFL8ntDpQxmsgEwJelr1+0J6MbSAERLgBSQJ2mWmj9NLW3HbfG3uZMao3WZz+5HVrXYhImBFQjV8iBxwvox2tilrgg8pIOUEHQ4v6X0C097CHx/EalC7D5Y8AAAAAElFTkSuQmCC"/>
					</li>
					<li>GO!outside</li>
				</a>
			</ul>
		</div>

		<div class="mat-card">
			Map Here
		</div>

	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
