<!doctype html>

<html>
<head>
	<title>GO!outide</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/gooutside.css" rel="stylesheet">
	<link href="/css/upload.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,600italic,300' rel='stylesheet' type='text/css'>
</head>

<body>
	<div>

		<div class="form">

			<div id="login">
        <h1>Upload</h1>

				<form action="/" method="post">

        <div class="field-wrap">
          <label class="active">
          	Place<span class="req">*</span>
          </label>
          <input type="text" required autocomplete="off"/>
        </div>

        <div class="field-wrap">
          <label class="active">
            Description<span class="req">*</span>
          </label>
          <input type="text"required autocomplete="off"/>
        </div>

        <div class="field-wrap">
          <label class="active">
            Secluded <span class="req">*</span>
          </label>
          <input type="number" min="0" max="5" required autocomplete="off"/>
        </div>

        <div class="field-wrap">
          <label class="active">
            Romantic <span class="req">*</span>
          </label>
        	<input type="number" min="0" max="5" required autocomplete="off"/>
        </div>

        <div class="field-wrap">
          <label class="active">
            Quiet <span class="req">*</span>
          </label>
          <input type="number" min="0" max="5" required autocomplete="off"/>
        </div>

        <div class="field-wrap">
          <label class="active">
            Overall <span class="req">*</span>
          </label>
          <input type="number" min="0" max="5" required autocomplete="off"/>
        </div>

        <button class="button button-block"/>Send It!</button>

      	</form>
    	</div>
		</div> <!-- /form -->
	</div>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="/js/upload.js"></script>

</body>
</html>
