.place-details {

}

.place-details img {
	display: block;
	width: 100%;
	padding-bottom: 1em;
}

.name{
	color: #689F38;
	font-size: 3em;
	text-align: center;
}

.description {
	color: whitesmoke;
	font-size: 1.1em;
}

.ratings {
	width: 100%;
	color: whitesmoke;
	font-size: 1.5em;
	margin-top: 1em;
}

.criteria {
	width: 50%;
	text-align: right;
}

.stars {
	padding-left: 1em;
	color: #689F38;
}
